/* Application-wide Styles */
h1 {
  margin: 0px;
}

body {
  margin: 2em;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}
/* everywhere else */


div.menu_div {
    background-color: #EEEEEE;
}

div.menu_div div {
    padding: 5px 10px 10px 10px;
}

ul.menu_ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.menu_ul li {
    float: left;
}

ul.menu_ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.menu_ul li a:hover:not(:target) {
    background-color: #000;
}

ul.menu_ul li.current_page {
    background-color:#369;
}

main {
    padding: 0px 30px;
}