<div class="menu_div">
	<div>
		<h1>{{title}}</h1>

		<nav>
			<ul class="menu_ul">
				<li [ngClass]="{'current_page':current_page==='/'}"><a routerLink="/" routerLinkActive="active">Home</a></li>
				<li [ngClass]="{'current_page':current_page==='/employee-component'}"><a routerLink="/employee-component" routerLinkActive="active">Employés</a></li>
				<li [ngClass]="{'current_page':current_page==='/bug-component'}"><a routerLink="/bug-component" routerLinkActive="active">Bugs</a></li>
				<li [ngClass]="{'current_page':current_page==='/search'}"><a routerLink="/search" routerLinkActive="active">Recherche</a></li>
				<li><a href="http://localhost:8080/h2-console/" target="_blank">H2</a></li> 
				<li><a href="http://localhost:8080/swagger-ui/index.html" target="_blank">API</a></li> 
			</ul>
		</nav>
	</div>
</div>
        

<main>
	<router-outlet></router-outlet>
</main>