<div class="image"><img src="{{employee.avatar}}" alt="avatar"></div>
<h2 *ngIf="employee!=null">{{employee.name}}</h2>
<div *ngIf="employee!=null">
<div *ngIf="employee.bugs.length!=0">
<strong>Liste des bugs :</strong>
<ul>
    <li *ngFor="let b of employee.bugs">{{b.title}}</li>
</ul>

</div>
</div>