<app-create-bug (createEvent)="addBug($event)"></app-create-bug> 

<h2>Liste des bugs</h2>

<div>
    <table>
    <tr>
        <th colspan="2">TODO</th>
    </tr>
    <tr>
        <th>ID</th>
        <th>titre</th>
    </tr>

   
        <tr *ngFor="let b1 of bugsTodo">
        <td>{{b1.id}}</td>
        <td><a [routerLink]="['/detail-bug-component',b1.id]" routerLinkActive="active">{{b1.title}}</a></td>
        </tr>
    </table>
    <table class="liste">
        <tr>
            <th colspan="2">WIP</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>titre</th>
        </tr>
       
            <tr *ngFor="let b2 of bugsWip">
        
                <td>{{b2.id}}</td>
                <td><a [routerLink]="['/detail-bug-component',b2.id]" routerLinkActive="active">{{b2.title}}</a></td>
            </tr>
      

    </table>
    <table>
        <tr>
            <th colspan="2">DONE</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>titre</th>
        </tr>
       
            <tr *ngFor="let b3 of bugsDone">
        
                <td>{{b3.id}}</td>
                <td><a [routerLink]="['/detail-bug-component',b3.id]" routerLinkActive="active">{{b3.title}}</a></td>
            </tr>
      

    </table>
</div>