<div *ngIf="!(bug == null)">
	<h2>{{bug.title}}</h2>
	<button (click)="supprimer()">Supprimer</button>
	<div>
		<h3>Description:</h3>
		<p class="value">{{bug.description}}</p>
	</div>
	<div>
		<h3>Création:</h3>
		<p class="value">{{date}}</p>
	</div>

	<div>
		<h3>Employé affecté à ce bug :</h3>
		<p class="value" *ngIf="employee!=null">{{employee.name}}</p>

	</div>

	<div>
		<h3>Etat :</h3>
		<p class="value">{{bug.state}}</p>
		<button *ngIf="bug.state!='done'" (click)="onClick()">Passer à l'état suivant</button>
	</div>

	<div>
		<h3>Priorité :</h3>
		<form *ngIf="modifPrio" [formGroup]="prioForm"  (ngSubmit)="onSubmit2(prioForm.value)">

				<select name="priority" id="priority" formControlName="priority">
					<option value="low">--Please choose an option--</option>
					<option value="low">LOW</option>
					<option value="normal">NORMAL</option>
					<option value="high">HIGH</option>
				</select>

				<button type="button" type="submit">
					Envoyer
				</button>
			</form>
		<p *ngIf="!modifPrio" class="value">{{bug.priority}}</p>
		<button *ngIf="!modifPrio" (click)="onClick2()">Modifier</button>
	</div>

	<div>
		<h3>Liste des commentaires :</h3>
		<div>
			<form [formGroup]="createForm"  (ngSubmit)="onSubmit(createForm.value)">

				<select name="employee" id="employee-select" formControlName="employee">
					<option value="">--Please choose an employee--</option>
					<option *ngFor="let em of listEmployee" value={{em.id}}>{{em.name}}</option>
				</select>

				<input placeholder="Texte" id="name" formControlName="text" type="text">
			   
				<button type="button" type="submit">
					Ajouter un commentaire
				</button>
			</form>
		</div>
		<div class="commentary_container" >
			<div class="commentary" *ngFor="let c of bug.commentaries">
				<div class="commentary_name" *ngIf="c.employee!=null">{{c.employee.name}}: </div>
				<div class="commentary_name" *ngIf="c.employee==null">[Deleted]: </div>
				<div class="commentary_text value">{{c.text}} </div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="(bug == null)">Loading...</div>