.commentary {
	background-color: #EEEEEE;
	margin: 5px;
	padding: 5px;
}

.commentary_container {
	margin-top: 10px;
}

.commentary_name {
	font-weight: bolder;
	margin: 2px;
	padding: 5px;
	text-decoration: underline;
	background-color: #DDD;
}

.commentary_text {
	margin: 2px;
	padding: 2px;
}

.value {
	margin-left: 20px;
}