<h2>Recherche bug</h2>

<div>
    <form [formGroup]="searchForm"  (ngSubmit)="onSubmit(searchForm.value)">
        <input placeholder="Titre" id="title" formControlName="title" type="text">
        <button type="button" type="submit">
            Rechercher
        </button>
    </form>
</div>
<table>
    <tr>
        <th colspan="2">Resultat</th>
    </tr>
    <tr>
        <th>ID</th>
        <th>titre</th>
    </tr>

   
        <tr *ngFor="let b1 of bugs">
        <td>{{b1.id}}</td>
        <td><a [routerLink]="['/detail-bug-component',b1.id]" routerLinkActive="active">{{b1.title}}</a></td>
        </tr>
    </table>

