<h2>Ajouter un bug</h2>
<div>
    <form [formGroup]="createForm"  (ngSubmit)="onSubmit(createForm.value)">
        <input placeholder="Titre" id="title" formControlName="title" type="text">
        <input placeholder="Description" id="description" formControlName="description" type ="text">
        <select name="Employé" id="employee" formControlName="employee">
            <option value="">--Please choose an option--</option>
			<option value="">-None-</option>
            <option *ngFor="let em of employees" value={{em.id}}>{{em.name}}</option>
        </select>
		<strong>Priorité</strong>
        <select name="priority" id="priority-select" formControlName="bugpriority">
            <option value="low">--Please choose an option--</option>
            <option value="low">LOW</option>
            <option value="normal">NORMAL</option>
            <option value="high">HIGH</option>
        </select>
        <button type="button" type="submit">
            ajouter à la base
        </button>
    </form>
</div>
