<h2>Ajouter un employé</h2>
<div>
    <form [formGroup]="createForm"  (ngSubmit)="onSubmit(createForm.value)">
        <input placeholder="Nom" id="name" formControlName="name" type="text">
        <input placeholder="URL image" id="avatar" formControlName="avatar" type ="url">
        <button type="button" type="submit">
            ajouter à la base
        </button>
    </form>
</div>