/* You can add global styles to this file, and also import other style files */

h1 {
  color: #369;
  font-size: 300%;
  font-family: Cambria, Georgia;
}
h2, h3 {
	padding-bottom: 10px;
	margin-right: 50px;
	color: #444;
	font-weight: lighter;
}
h2 {
	border-bottom: 3px solid #333;
}

h3 {
	border-bottom: 1px solid #111;
}

tr {
	border: 2px solid #333;
}

td, th {
	display: flow;
	text-align: center;
    padding: 5px;
	margin: 0px;
}

td {
    border: 1px solid #444;
	color:#000;
	background-color: #EEEEEE;
}

th {
	color:#FFF;
    border: 1px solid #444;
	background-color: #555;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

form * {
	display: list-item;
	padding: 2px;
	margin: 5px;
}

div.image {
	width: 200px;
	height: 200px;
	border-radius: 20px;
	padding: 2px;
	background-color: #AAA;
}

div.image img {
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 200px;
	max-height: 200px;
	border-radius: 20px;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}