
<app-create-employee (createEvent)="addEmployee($event)"></app-create-employee> 
<h2>Liste des employés</h2>
<div class="spinner-border" role="status" *ngIf="showSpinner" >
  <span class="sr-only">Loading...</span>
</div>

<table *ngIf="!showSpinner">
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Avatar</th>
    </tr>

    <tr *ngFor="let e of employees">
        <td>{{e.id}}</td>
        <td><a [routerLink]="['/detail-employee-component']" [queryParams]="{id:e.id}" routerLinkActive="active"> {{e.name}}</a></td>
        <td>
			<div class="image"><img src="{{e.avatar}}" alt="avatar"></div>
		</td>
    </tr>
</table>